@model Core.Entities.MedicineBillInfo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MedicineBillInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicineBillID" class="control-label"></label>
                <select asp-for="MedicineBillID" class ="form-control" asp-items="ViewBag.MedicineBillID"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdMedicineInfo" class="control-label"></label>
                <select asp-for="IdMedicineInfo" asp-items="ViewBag.IdMedicineInfo" class="form-control"></select>
                
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
