@using Core.Entities

@model Core.Entities.Doctor;

@{
    ViewData["Title"] = "Add Doctor";
}

<h4>DoctorModel</h4>
<hr />

<form asp-controller="Doctor" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Doctor</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
             <label asp-for="Phone" class="col-md-2 control-label"></label>
             <input asp-for="Phone" class="form-control" />
             <span asp-validation-for="Phone" class="text-danger"></span>
         </div>
        <div class="form-group">
             <label asp-for="Address" class="col-md-2 control-label"></label>
             <input asp-for="Address" class="form-control" />
             <span asp-validation-for="Address" class="text-danger"></span>
         </div>
        <div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Birthday" class="col-md-2 control-label"></label>
            <input asp-for="Birthday" class="form-control" />
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Department" class="col-md-2 control-label"></label>
            <input asp-for="Department" class="form-control" />
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFile" class="col-md-2 control-label"></label>
            <input asp-for="ImageFile" class="form-control" accept="image/*" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
         </div>
         
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn-primary btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
