@*@model IEnumerable<Core.Entities.WorkShift>

@{
    ViewData["Title"] = "Work About";
}

<h2>Work About</h2>

<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            Shift
        </th>
        <th>
            Doctor
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkAbout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkAbout)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>*@