@model Core.Entities.WorkShift

@{
    ViewData["Title"] = "Edit Work Shift";
}

<h1>Edit Work Shift</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="WorkShift" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdShift" class="control-label">Shift Name</label>
                <select asp-for="IdShift" class="form-control" asp-items="ViewBag.IdShift"></select>
                <span asp-validation-for="IdShift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDoctor" class="control-label">Doctor Id</label>
                <select asp-for="IdDoctor" class="form-control" asp-items="ViewBag.IdDoctor"></select>
                <span asp-validation-for="IdDoctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Date Work</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="CreateAt" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
