@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post" action="/Bed/Create">

            <div class="form-group">
                <label class="control-label">Nhập Tên Phòng</label>
                <input name="IdRoom" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Nhập tên bệnh nhân</label>
                <input name="IdPatient" class="form-control" />

            </div>

            <div class="form-group">
                <label class="control-label">Nhập trạng thái</label>
                <input name="Status" class="form-control" />

            </div>

            <div class="form-group">
                <label class="control-label"></label>
                <button type="submit" value="Create" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>