@model Core.Entities.HospitalBed

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Nhập Tên Phòng</label>
                <input asp-for="IDRoom" class="form-control" />
                <span asp-validation-for="IDRoom" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label class="control-label">Nhập tên bệnh nhân</label>
                <input asp-for="IDPatient" class="form-control" />
                <span asp-validation-for="IDPatient" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Chọn trạng thái</label>
                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="Status" value="true"> hết giường
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="Status" value="false" checked>
                            còn giường
                        </label>
                    </div>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>