@model Core.Entities.Shift

@{
    ViewData["Title"] = "Create Shift";
}

<div class="text-center"><h1>Create Shift</h1></div>

<hr />
<div class="row" style="width:50%; margin:auto;">
    <div class="col">
        <form asp-controller="Shift" asp-action="Create" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShiftName" class="control-label">Shift Name:</label>
                <input asp-for="ShiftName" class="form-control" />
                <span asp-validation-for="ShiftName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">Start Time:</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label">End Time:</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary" role="button">Back to List</a>
                <input type="submit" value="Create" class="btn btn-success float-right" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
